@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html{
    font-size: 50%;
    font-family: 'Poppins', sans-serif;
    background-color: #FFE8C2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 160rem;
    margin: 0 auto;
}

.contenedor-hero{
    background-color: #371C18;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.contenedor-soporte{
    display: flex;
    align-items: center;
}

.contenedor-soporte .fa-headset{
    color: white;
}

.contenedor-soporte i{
    font-size: 3rem;
    padding: 0 1.5rem;
}

.contenido-contenedor-soporte{
    display: flex;
    color: white;
    flex-direction: column;
}

.contenedor-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.contenedor-logo i{
    font-size: 3rem;
}

.contenedor-logo h1 a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.contenedor-usuario{
    display: flex;
    cursor: pointer;
    padding: 0 2rem;
}

.contenedor-usuario .fa-user{
    font-size: 3rem;
    color: white;
    padding-right: 1.5rem;
    border-right: 1px solid white;
}

.contenedor-usuario .fa-cart-shopping{
    font-size: 3rem;
    color: white;
    padding-left: 1.5rem;
}

.text{
    padding-left: 2rem;
}

.number{
    padding-left: 2rem;
}

.contenedor-carrito{
    display: flex;
    color: white;
    flex-direction: column;
}

/* *********NAVBAR******** */

.contenedor-navbar{
    background-color: #F7D28B;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4rem;
}

.navbar .fa-bars{
    display: none;

}

.menu{
    display: flex;
    gap: 5.5rem;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-weight: 580;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 50px;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a::after:hover{
    opacity: 1;
}

.menu a:hover{
    color: white;
}

.busqueda{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 9rem;
    background-color: white;
    height: 5.4rem;
    overflow: hidden;
}

.busqueda input{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0.2rem;
    color: #777;
    cursor: pointer;
}

.busqueda input::-webkit-search-cancel-button{
    appearance: none;
}

.busqueda .btn-buscar{
    border: none;
    background-color: #F7D28B;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.btn-buscar i{
    font-size: 2rem;
    color: white;
}

/* ++++++ BANNER ++++ */

.banner{
    background-image: url('../Imgblog/pd1.jpg');
    height: 60rem;
    background-size: cover;
    background-position: center;
    
}

.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.content-banner h2{
    color: white;
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}


.Contenido {
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
}

/*Recuadro*/
.desayunos {
    background-color: rgba(55, 28, 24,0.8); /* Color de fondo suave */
    padding: 20px; /* Espaciado interno para separar el contenido de los bordes */
    border-radius: 8px; /* Bordes redondeados para suavizar la sección */
    max-width: 800px; /* Ancho máximo de la sección */
    margin: 20px auto; /* Centrar la sección horizontalmente */
    font-family: 'Arial', sans-serif; /* Tipo de letra */
    color: white;
}

/*Título*/
.desayunos h2 {
    text-align: center; 
    font-size: 25px;
    padding: 15px;
}

/*Alineación*/
.desayunos ol {
    margin-left: 25px;
    font-size: 15px;
    padding: 20px;
}

/*Espaciado entre líneas*/
.desayunos ol {
    line-height: 2.0; 
}

/**/
.desayunos li {
    line-height: 2.0; 
}

/*IMG*/
.desayunos img{
    width: 100%;
    padding: 10px;
    size: 50px;
}

/*Diseño parrafos*/
.desayunos p {
    font-size: 15px;
    text-align: justify; 
    line-height: 1.6; 
    padding: 20px;
}


/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

.footer{
    background-color: #371C18;
}

.container-footer{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
}

.menu-footer{
    display: grid;
    grid-template-columns:  repeat(3,1fr) 30rem;
    gap: 3rem;
    justify-items: center;
}

.title-footer{
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li{
    list-style: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
}

.information ul li a,
.my-account ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover{
    color: #000;
}

.social-icons{
    display: flex;
    gap: 1.5rem;
}

.social-icons span{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i{
    color: #fff;
    font-size: 1.2rem;
}

.Facebook{
    background-color: #3b5998;
}
.Twitter{
    background-color: #00acee;
}

.youtube{
    background-color: #c4302b;
}

.Pinterest{
    background-color: #c8232c;
}

.Tiktok{
    background: linear-gradient(
        #ff0050,
        #00f2ea,
        #000000
    );
}

.Instagram{
    background: linear-gradient(
        #405de6,
        #5851db, 
        #833ab4, 
        #c13584, 
        #e1306c, 
        #fd1d1d, 
        #f56040, 
        #f77737, 
        #fcaf45, 
        #ffdc80
    )
}

.content p{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 300;
}

.content input{
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #d2b495;
    cursor: pointer;
    padding: 0.5rem 0 1.2rem;
    color:#000;
    display: block;
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin-top: 2rem;
    width: 100%;
    font-family: inherit;
}

.content input::-webkit-input-placeholder{
    color: #eee;
}

.content button{
    border:none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-family: inherit;
    cursor: pointer;
    font-weight: 600;
}

.content button:hover{
    background-color: #d2b495;
    color: #F98948;
}

.copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    border-top: 1px solid #d2b495;
}

.copyright p{
    color: white;
    font-weight: 400;
    font-size: 1.6rem;
}
