@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

/*Limpieza de todo*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

/*Diseño del body*/
body {
    background: url(./logo.png) no-repeat ;
    background-position: center center;
    background-size: 120%;

    background-color: #FFE8C2;
    margin: 0;
    padding: 0;
    height: 100vh;
}


/*----------------------------NAVBAR---------------------------*/

/*Diseño header (navbar)*/
.header{
    background-color: #371C18;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

/*Logo*/
.header .logo{
    cursor: pointer;
}

/*Dimensiones logo*/
.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

/*Transición logo*/
.header .logo img:hover{
    transform: scale(1.2);
}

/*Borrado de underline del nav*/
.header .nav-links{
    list-style: none;
}

/*Comportamiento li*/
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

/*Transición li y menú*/
.header .nav-links li:hover, .overlay a:hover{
    transform: scale(1.1);
}

/*Diseño links navbar*/
.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;   
    font-weight: bold; 
}

/**/
.menu {
    display:none;
}

/*Diseño botón*/
.header .btn button, .header .menu button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/*transición botón*/
.header .btn button:hover, .header .menu button:hover{
    background-color: #e2f1f8;
    transform: scale(1.1);
}

/*RESPONSIVE*/
@media screen and (max-width: 800px){
    .nav-links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
}


/*-----NAVBAR MOBILE-----*/

.header a{
    text-decoration: none;  
    /*borramos el que teniamos en .header .nav-links a*/ 
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33, 49, 63, .95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover, 
.header .overlay a:focus{
    color: #371C18;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}




/*-------------------------INICIO DE SESIÓN---------------------------------*/
/*Contenedor del formulario*/
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: whitesmoke;
    border-radius: 10px;
}

/*Titulo del formulario*/
.formulario h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid silver;
}

/*Diseño interior formulario*/
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
    
}

/*Margen de texto usuario y contraseña*/
form .registro{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

/*Entrada usuario*/
.registro input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

/*Texto contraseña y nombre*/
.registro label{
    position: absolute;
    top: 5%;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

/*Texto registrarse*/
.recordar {
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
}

/*Linea baja "registrate"*/
.recordar:hover {
    text-decoration: underline;
}

/*Diseño botón*/
.inic button{
	font-weight: 700;
    color: white;
    position: static;
    padding: 10px 25px;
    background: #371C18;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;  
}

/*Diseño link botón  (Manda en el botón)  */
.inic a{
    margin-left: 22%;
    font-size: 700;
    color: #eceff1;
    text-decoration: none; 
}

/*Diseño de transición botón iniciar*/
.inic button:hover{
	background-color: wheat;
    color: #371C18;
    transform: scale(1.1);
}

/*Olvido su contraseña y registrarse*/
.recordar a{
    text-decoration: none;
    color: blue;
    font-size: medium;
}

/*Texto Registrarse*/
.registro{
    text-align: center;
    margin: 30px 0;
    font-size: medium;
}

/*Color */
.registro a {
    color: blue;
    font-size: medium;
}